 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello. This is Inhoe Kwon. Welcome to my homepage. I wanna become a developer about robot, computer vision, artificial intelligence and so on. This is a space to record the knowledge acquired from 2020, when I first came into contact with coding.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am studying at Kyunghee University specialized in Applied Physics and Software Convergence. I enrolled in 2017 and expect to graduate in 2022. Programming is the most fun in the world. More projects will be recorded here in the future.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
